:root {
    --color-basic-black: #000000;
    --color-basic-white: #ffffff;
}

@font-face {
    font-family: 'Georgia';
    src: url("../fonts/Georgia.woff2") format('woff2');
    font-weight: 400;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    color: var(--color-basic-white);
}

.wrapper {
    max-width: 80%;
    padding: 4rem 2rem;
    margin: 0 auto
}

/* HEADER */
.header {
    background-color: var(--color-basic-black);
}

.header__logo {
    display: flex;
    align-items: center;
    column-gap: 2rem;
}

.header__title {
    font-family: "Georgia";
    font-weight: 400;
    font-size: 3rem;
}

/* MAIN */

.main {
    background-color: var(--color-basic-black);
}

.slider {
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: hidden;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination__label {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.pagination__span {
    display: block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--color-basic-white);
    transition: all 0.5s ease-in-out;
}

.slider__images {
    overflow: hidden;
}

.slider__img-wrapper {
    width: 450px;
    display: flex;
    transition: all 0.8s ease-in-out;
}

.slider__img {
    min-width: 100%;
    object-fit: contain;
}

#first:checked ~ .slider__images .slider__img-wrapper {
    transform: translateX(0);
}

#first:checked:checked~.pagination .pagination__item:nth-of-type(1) .pagination__span {
    background-color: red;
}

#second:checked ~ .slider__images .slider__img-wrapper {
    transform: translate(-100%);
}

#second:checked:checked~.pagination .pagination__item:nth-of-type(2) .pagination__span {
    background-color: red;
}

#third:checked ~ .slider__images .slider__img-wrapper {
    transform: translateX(-200%);
}

#third:checked:checked~.pagination .pagination__item:nth-of-type(3) .pagination__span {
    background-color: red;
}

#fourth:checked ~ .slider__images .slider__img-wrapper {
    transform: translateX(-300%);
}

#fourth:checked:checked~.pagination .pagination__item:nth-of-type(4) .pagination__span {
    background-color: red;
}


/* FOOTER */
.footer {
    background-color: var(--color-basic-black);
}

.footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 2rem;
}

/* MEDIA */
@media screen and (max-width: 480px) {
    .wrapper {
        max-width: 90%;
    }
}